<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
    <title>{{ page.title }} | {{site.name}}</title>

    {% seo title=false %}

    {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}" />
    <meta property="og:url" content="{{ seo_tag.canonical_url }}" />
    {% endif %}

    {% if page.layout == "post" %}
    <!-- Web monetization micro-payments -->
    <meta name="monetization" content="$ilp.uphold.com/Aw7eGpxKNyK7" />
    {% endif %}

    {% include twitter-card.html %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />

    <link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{layout}}">
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" crossorigin="anonymous">
	</noscript>

    <!-- Begin Menu Navigation ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down pr-md-0 pl-md-0">
        <div class="container d-flex align-items-center">

            <!-- Begin Logo -->
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <h2>Deepu K Sasidharan</h2>
            </a>
            <!-- End Logo -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish"                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMediumish">
                <!-- Begin Menu -->
                <ul class="navbar-nav ml-auto">

                    {% if page.url == "/" %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}
                        <a class="nav-link" href="{{ site.baseurl }}/">About</a>
                    </li>

                    {% if page.url contains "/blogs/" or page.layout == "post" %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}
                        <a class="nav-link" href="{{ site.baseurl }}/blogs/"><i class="fas fa-blog"></i> Blog</a>
                    </li>

                    {% if page.url == "/books" %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}
                        <a class="nav-link" href="{{ site.baseurl }}/books"><i class="fas fa-book"></i> Books</a>
                    </li>

                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="https://www.youtube.com/playlist?list=PLxayiD7e52nPpb-sSaoOPc-zXGhmOaNHK"><i class="fab fa-youtube"></i> Videos</a>
                    </li>

                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="https://speakerdeck.com/deepu105"><i class="fab fa-speaker-deck"></i> Presentations</a>
                    </li>

                    {% include search-lunr.html %}

                </ul>
                <!-- End Menu -->
            </div>
        </div>
    </nav>

    <!-- End Navigation ================================================== -->
    <div class="site-content">
        <div class="container">
            <!-- Content ================================================== -->
            <div class="main-content">
                {{ content }}
            </div>

            {% if site.mailchimp-list %}
            <!-- Bottom Alert Bar ================================================== -->
            <div class="alertbar">
                <div class="container text-center">
                    <span>Never miss a <b>story</b> from us, subscribe to our newsletter</span>
                    <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
                        <div class="mc-field-group">
                        <input type="email" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
                        <input type="submit" value="Subscribe" name="subscribe" class="heart">
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

        </div>

        <!-- Categories Jumbotron ================================================== -->
        <div class="jumbotron fortags lozad" data-background-image="{{ site.baseurl }}/assets/images/jumbotron.jpg">
            <div class="d-md-flex h-100">
                <div class="col-md-4 transpdark align-self-center text-center h-100">
                    <div class="d-md-flex align-items-center justify-content-center h-100">
                        <h2 class="d-md-block align-self-center py-1 font-weight-light">Explore <span class="d-none d-md-inline">→</span></h2>
                    </div>
                </div>
                <div class="col-md-8 p-5 align-self-center text-center">
                    {% assign tags_list = site.tags %}
                    {% if tags_list.first[0] == null %}
                        {% for tag in tags_list %}
                            <a class="mt-1 mb-1" href="{{site.baseurl}}/tags#{{ tag | url_escape | strip | replace: ' ', '-' }}">{{ tag | camelcase }} ({{ site.tags[tag].size }})</a>
                        {% endfor %}
                    {% else %}
                        {% for tag in tags_list %}
                            <a class="mt-1 mb-1" href="{{site.baseurl}}/tags#{{ tag[0] | url_escape | strip | replace: ' ', '-' }}">{{ tag[0] | camelcase }} ({{ tag[1].size }})</a>
                        {% endfor %}
                    {% endif %}
                    {% assign tags_list = nil %}
                </div>
            </div>
        </div>

        <!-- Begin Footer ================================================== -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-center text-lg-left">
                        Copyright © {{ site.time | date: "%Y" }} Deepu K Sasidharan
                        <br/>
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                            <img class="lozad" alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/assets/images/placeholder.jpg" data-src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                        </a>
                        Content licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                    </div>
                    <div class="col-md-6 col-sm-6 text-center text-lg-right">
                        <a target="_blank" href="https://www.wowthemes.net/mediumish-free-jekyll-template/">Mediumish Jekyll Theme</a> by WowThemes.net |
                        Domain by
                        <a href="https://js.org" target="_blank" title="JS.ORG | JavaScript Community">
                            <img src="{{ site.baseurl }}/assets/images/placeholder.jpg" data-src="https://logo.js.org/dark_tiny.png" style="width:50px" alt="JS.ORG Logo" class="lozad">
                        </a> |
                        Hosted with <i class="far fa-heart"></i> by <a href="https://pages.github.com/" target="_blank">Github</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer ================================================== -->

    </div> <!-- /.site-content -->

    <!-- Scripts ================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>

    <script async src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

    {% if site.lazyimages == "enabled" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.14.0/lozad.min.js" integrity="sha256-hstwhDmGVwZjIwt6SlTG6sQBREWrWTBjVTik/JLlb1Y=" crossorigin="anonymous"></script>
    <script>
        // lazy loads images
        const lazyloadObserver = lozad()
        lazyloadObserver.observe();
    </script>
    {% endif %}

    <script async src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>

    {% if page.pagination.enabled == true %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js" integrity="sha256-0/MF5x1AoU8a7eF3Y3gaBhdfZh6JMbOkrJ1xna3cAek=" crossorigin="anonymous"></script>
    <script>
        $('.infinite-scroll').jscroll({
            contentSelector: ".infinite-scroll",
            nextSelector: '.next-sel',
            callback: () => lazyloadObserver.observe()
        });
    </script>
    {% endif %}

    {% if page.layout != 'post' %}
    <script async src="https://unpkg.com/dev-widget@1.1.0/dist/card.component.min.mjs" type="module"></script>
    {% endif %}

    <!-- <script src="https://assets.digitalclimatestrike.net/widget.js" async></script> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{site.google_analytics}}');
    </script>
</body>
</html>
